<template>
  <div>
      <el-button type="primary" @click.native="goGame">시작하기</el-button>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  methods: {
      goGame() {
        this.$router.push('/page-question')
      }
  }
}
</script>
