<template>

  <div>
    <div v-if="resultScoreKey !== null">
      <div v-html="mindTestResults[resultScoreKey].text"></div>
      <el-button type="primary" @click.native="goReset()">다시하기</el-button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      resultScoreKey: null
    }
  },
  computed: {
    mindTests() {
      return this.$store.getters[this.$mindTestConstants.GET_MIND_TESTS]
    },
    selectedTests() {
      return this.$store.getters[this.$mindTestConstants.GET_SELECTED_TESTS]
    },
    mindTestResults() {
      return this.$store.getters[this.$mindTestConstants.GET_MIND_TEST_RESULTS]
    },
  },
  methods: {
    goReset() {
      this.$store.commit(this.$mindTestConstants.FETCH_GAME_RESET)
      this.$router.replace('/')
    },
    calResult() {
      let totalScore = 0

      for (let i = 0; i < this.selectedTests.length; i++) {
        totalScore += this.mindTests[i].answer[this.selectedTests[i]].point
      }

      let tempKeyScore = Math.floor(totalScore / 10)
      this.resultScoreKey = tempKeyScore - 1
    }
  },
  mounted() {
    this.calResult()
  }
}
</script>
